name: scrollable_positioned_list_index_example
description: Example app demonstrating the scrollable_positioned_list_index package.

publish_to: 'none'

environment:
  sdk: '>=2.17.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  scrollable_positioned_list_index:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
